* {
  box-sizing: border-box;
  /* background-color: #c7cedf; */
  margin: 0px;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
          /* heading */
h1{
  
    color: #007a79;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1.25px;
}
p {
  font-size: 1.2rem;
}
.heading {
 /* background-color:white; */
 font-family: "bebas-neue,sans-serif"; 
  text-transform: uppercase;
  /* border-radius: 50%; */
  text-align: center;
}

.indieFlower {
  font-family: 'Indie Flower', cursive;
}

          /* input and h2 */

h2, input, span{
  margin: 2rem;
  font-style: italic;
  display: block;
  line-height: 1rem;
}
input::-webkit-input-placeholder {
  color: grey;
  transition: color .4s ease;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

        /* list of reviews/ output */
ul {
  display: flex;
  flex-wrap: wrap;
}

li{
  font-size: 20px;
  list-style: none;
  line-height: 3rem; /*optional depending on how pictures layout*/
  flex: 1 0 21%;
  margin: 5px;
}
.break{
  border-bottom: 2px solid whitesmoke;
}
            /* buttons to keep consistent w first page button from index page */
button {
  background-color:transparent; 
  color: white;
  border: 1.5px solid white;
  border-radius: 0px;
  padding: 1em 1em;
  cursor: pointer;
  /**text adjustments **/
  font-family: bebas-neue,sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 3px;
  text-align: center;
  /** Animation **/
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all .3s ease;	 */
  /** Flexbox **/
  width: auto;
  resize: both;
  align-content: center;
  margin: 5px;
}

          /* nav */

nav, .right {
  display: flex;
  justify-content: flex-end;
}

          /*dark mode stuff*/
:root {
   /* --primary-color: transparent;
    --secondary-color:white; */
    --primary-color: black;
    --secondary-color:white;
}
html {
  background-color: #c7cedf;
    transition: all 0.5s ease-in;
   
}
html.dark {
   
    --primary-color: white;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color)
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}

.toggle:focus {
    outline: none;
}

.center {
  text-align: center;  
}

.thumb {
  width: 100%;
}

footer {
  border-top: 2px solid white;
  margin: 2em 20em;
  padding-top: 2em;
}

.left {
  width: 25%;
}

.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}

.row {
  display: flex;
  flex-wrap: wrap
}

.feed {
  display: flex;
  justify-content: flex-start
}

.dumpster {
  color: #004F00
}

          /* links */
a:link {
  color: #4973AB
}
a:visited {
  color: #5C246E
}
a:hover {
  color: #2B4F81
}
a:active {
  color: #26466D
}